h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style:oblique;
    font-size:xx-large;

}