h1{
    color:rgb(42, 202, 21);
    text-align: center;
    text-decoration:underline;
    text-decoration-color:goldenrod;
    text-decoration-style:wavy;
    text-indent:12px;
}
h2{
    color:rgb(71, 102, 240);
    text-align: left;
    text-decoration:underline;
    text-transform:uppercase;
    text-shadow:12px 12px 3px rgb(15, 228, 157);
}
p{
    color:rgba(14, 20, 70, 0.63);
    text-align:justify ;
    letter-spacing: 0px;
    word-spacing: 2px;
    line-height: 20px;
}